<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>

<!--View层 模板-->
<div id="app">
<!--    遍历数组-->
    <li v-for="(item,index) in items">
        {{item}}--{{index}}
    </li>
<!--    遍历对象-->
    <li v-for="(u,key,index) in user">
        {{key}}--{{u}}--{{index}}
    </li>

</div>

<script>
    var vm = new Vue({
        el:"#app",
        // Model 数据
        data:{
            items:[
                "A", "B","C"
            ],
            user:{
                name:'Jack',
                age:24
            }
        }
    });
</script>

</body>
</html>